/bin
/build
/toolchain
/gnu-efi
/ovmf
/**/*.o
/**/*.d
/**/*.a
/**/*.EFI
/**/*.bin
/**/*.bin.gz
/**/*.elf
/**/*.hdd
/**/*.iso
/**/*.sys
/bochsout.txt
/bx_enh_dbg.ini
.vscode
/stivale
/test_image
!/stage23/font.bin
