/**/*.o
/**/*.a
/**/*.bin
/**/*.bin.gz
/**/*.elf
/**/*.img
/toolchain/bin
/toolchain/include
/toolchain/lib
/toolchain/libexec
/toolchain/share
/toolchain/*-elf
/bochsout.txt
/bx_enh_dbg.ini
.vscode
/limine-install
!/limine.bin
